<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_99.png</string>
		<key>cat_id</key>
		<integer>428</integer>
		<key>cat_name</key>
		<string>儿童摄影</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_99.png</string>
		<key>cat_id</key>
		<integer>565</integer>
		<key>cat_name</key>
		<string>婚纱摄影</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_99.png</string>
		<key>cat_id</key>
		<integer>614</integer>
		<key>cat_name</key>
		<string>个性写真</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_3.png</string>
		<key>cat_id</key>
		<integer>703</integer>
		<key>cat_name</key>
		<string>配镜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_3.png</string>
		<key>cat_id</key>
		<integer>459</integer>
		<key>cat_name</key>
		<string>口腔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_5.png</string>
		<key>cat_id</key>
		<integer>2015</integer>
		<key>cat_name</key>
		<string>珠宝首饰</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_22.png</string>
		<key>cat_id</key>
		<integer>956</integer>
		<key>cat_name</key>
		<string>丽人</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_5.png</string>
		<key>cat_id</key>
		<integer>930</integer>
		<key>cat_name</key>
		<string>鲜花</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_3.png</string>
		<key>cat_id</key>
		<integer>2021</integer>
		<key>cat_name</key>
		<string>开锁</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_3.png</string>
		<key>cat_id</key>
		<integer>2022</integer>
		<key>cat_name</key>
		<string>管道疏通</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_3.png</string>
		<key>cat_id</key>
		<integer>2027</integer>
		<key>cat_name</key>
		<string>装修服务</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_3.png</string>
		<key>cat_id</key>
		<integer>2030</integer>
		<key>cat_name</key>
		<string>搬家服务</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_-2.png</string>
		<key>cat_id</key>
		<integer>338</integer>
		<key>cat_name</key>
		<string>温泉洗浴</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_1.png</string>
		<key>cat_id</key>
		<integer>326</integer>
		<key>cat_name</key>
		<string>美食</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_20.png</string>
		<key>cat_id</key>
		<integer>642</integer>
		<key>cat_name</key>
		<string>酒店</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_78.png</string>
		<key>cat_id</key>
		<integer>708</integer>
		<key>cat_name</key>
		<string>旅游</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_5.png</string>
		<key>cat_id</key>
		<integer>341</integer>
		<key>cat_name</key>
		<string>KTV</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_-2.png</string>
		<key>cat_id</key>
		<integer>347</integer>
		<key>cat_name</key>
		<string>足疗按摩</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_default_coupon.png</string>
		<key>cat_id</key>
		<integer>349</integer>
		<key>cat_name</key>
		<string>文化艺术</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_4.png</string>
		<key>cat_id</key>
		<integer>700</integer>
		<key>cat_name</key>
		<string>采摘</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_2.png</string>
		<key>cat_id</key>
		<integer>895</integer>
		<key>cat_name</key>
		<string>桌游</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_route_walking_selected.png</string>
		<key>cat_id</key>
		<integer>896</integer>
		<key>cat_name</key>
		<string>电玩</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_0.png</string>
		<key>cat_id</key>
		<integer>897</integer>
		<key>cat_name</key>
		<string>DIY手工</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_route_walking_selected.png</string>
		<key>cat_id</key>
		<integer>898</integer>
		<key>cat_name</key>
		<string>密室逃脱</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_route_walking_selected.png</string>
		<key>cat_id</key>
		<integer>899</integer>
		<key>cat_name</key>
		<string>真人CS</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_route_walking_selected.png</string>
		<key>cat_id</key>
		<integer>911</integer>
		<key>cat_name</key>
		<string>游泳</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_route_walking_selected.png</string>
		<key>cat_id</key>
		<integer>914</integer>
		<key>cat_name</key>
		<string>滑雪/滑冰</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_2.png</string>
		<key>cat_id</key>
		<integer>2024</integer>
		<key>cat_name</key>
		<string>轰趴馆</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_route_walking_selected.png</string>
		<key>cat_id</key>
		<integer>952</integer>
		<key>cat_name</key>
		<string>运动健身</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_cate_selected_99.png</string>
		<key>cat_id</key>
		<integer>922</integer>
		<key>cat_name</key>
		<string>录音棚</string>
	</dict>
</array>
</plist>
