<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>晴</key>
		<string>00.png</string>
		<key>多云</key>
		<string>01.png</string>
		<key>阴</key>
		<string>02.png</string>
		<key>阵雨</key>
		<string>03.png</string>
		<key>雷阵雨</key>
		<string>04.png</string>
		<key>雷阵雨伴有冰雹</key>
		<string>05.png</string>
		<key>雨夹雪</key>
		<string>06.png</string>
		<key>小雨</key>
		<string>07.png</string>
		<key>中雨</key>
		<string>08.png</string>
		<key>大雨</key>
		<string>09.png</string>
		<key>暴雨</key>
		<string>10.png</string>
		<key>大暴雨</key>
		<string>11.png</string>
		<key>特大暴雨</key>
		<string>12.png</string>
		<key>阵雪</key>
		<string>13.png</string>
		<key>小雪</key>
		<string>14.png</string>
		<key>中雪</key>
		<string>15.png</string>
		<key>大雪</key>
		<string>16.png</string>
		<key>暴雪</key>
		<string>17.png</string>
		<key>雾</key>
		<string>18.png</string>
		<key>冻雨</key>
		<string>19.png</string>
		<key>沙尘暴</key>
		<string>20.png</string>
		<key>小到中雨</key>
		<string>21.png</string>
		<key>中到大雨</key>
		<string>22.png</string>
		<key>大到暴雨</key>
		<string>23.png</string>
		<key>暴雨到大暴雨</key>
		<string>24.png</string>
		<key>大暴雨到特大暴雨</key>
		<string>25.png</string>
		<key>小到中雪</key>
		<string>26.png</string>
		<key>中到大雪</key>
		<string>27.png</string>
		<key>大到暴雪</key>
		<string>28.png</string>
		<key>浮尘</key>
		<string>29.png</string>
		<key>扬沙</key>
		<string>30.png</string>
		<key>强沙尘暴</key>
		<string>31.png</string>
		<key>霾</key>
		<string>53.png</string>
	</dict>
</plist>
