<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>targetVC</key>
		<string>MapViewController</string>
		<key>name</key>
		<string>百度地图</string>
		<key>icon</key>
		<string>baiduMap</string>
	</dict>
	<dict>
		<key>targetVC</key>
		<string>NameCardViewController</string>
		<key>name</key>
		<string>名片识别</string>
		<key>icon</key>
		<string>nameCard</string>
	</dict>
</array>
</plist>
